{% extends 'search_list_app/home.html' %}

{% block content %}
<h2 style="text-align: center">{{ search_text | title }}</h2>
 <div class="row">
      {% for post in post_details %}
        <a href={{ post.1 }}>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src={{ post.2 }}>
                </div>
                <div class="card-content">
                    <p> {{ post.0 }}</p>
                </div>
                <div class="card-action">
                    <a href={{ post.1 }}>more..</a>
                </div>
            </div>
        </div>
        </a>
      {% endfor %}
  </div>
{% endblock content %}
